.main__bg {
    width: 100%;
    background: url('/bg.jpg');
    height: 2090px;
    background-size: cover;
    top:100px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;


}

.main__lines {
    position: absolute;
    pointer-events: none;
    width: 90%;
    height: 4630px;
    z-index: 5;
   
    border-right: 1px solid #E5DFDA33;
    border-left: 1px solid #E5DFDA33;
}

.composition__bg {
    position: absolute;
    width: 100%;
    height: 1300px;
    z-index: -1;
    margin-top: 2200px;
    background: linear-gradient(to top,
            transparent 0%,
            rgba(22, 7, 3, 0.4) 10%,
            rgba(22, 7, 3, 0.8) 20%,
            rgba(22, 7, 3, 1) 30%,
            rgba(22, 7, 3, 1) 85%,
            rgba(22, 7, 3, 0.6) 92%,
            rgba(22, 7, 3, 0.2) 97%,
            transparent 100%);
}



.bg__footer {
    width: 100%;
    height: 1300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    bottom: 0;
    
   
    background: url('/bg_footer1920.png');
}


@media (max-width: 1600px) {
    .bg__footer {
        background: url('/bg_footer1600.png');
    }
}



@media (max-width: 768px) {
    .bg__footer {
        background: url('/bg_footer768.png');
      
    }
}


@media (max-width: 350px) {
    .bg__footer {
        background: url('/bg_footer350.png');
       
    }
}

.page__navigator {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 20px;


    >span {
        color: #E5DFDA80;
        font-weight: 300;
        font-family: var(--font-open-sans);
        font-size: 22px;
    }

    >i {
        height: 1px;
        width: 21px;
        margin-top: 2px;
        background: #E5DFDA80;
    }
}


.main {
    width: 90%;
    height: fit-content;
    background: transparent;


    .main__intro {
        position: relative;
        display: flex;
        width: 100%;
        height: 100vh;
        background: transparent;
        justify-content: space-between;

        padding-right: 24px;

        .intro__left {
            width: 33%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            background: transparent;
            position: relative;

            .intro__description__pos {
                display: none;
            }

            .intro__title {
                color: #fff;
                font-weight: 300;
                font-size: 100px;
                background: transparent;
                margin-bottom: 220px;
                font-family: var(--font-cormorant);
            }

            .intro__info {
                background: transparent;
                color: #fff;
                left: -120px;
                position: absolute;
                margin-right: 60px;
                border-radius: 5px;
                width: 350px;
                display: flex;
                justify-content: flex-end;
                font-size: 22px;
                margin-top: 20px;
                padding: 20px;
                padding-right: 120px;
                z-index: 1;

                >p {
                    background: transparent;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    right: -2px;
                    bottom: -2px;
                    background: linear-gradient(90deg, rgba(229, 223, 218, 0) 18.66%, #E5DFDA 100%);
                    border-radius: 5px;
                    z-index: -1;
                    pointer-events: none;
                    mask:
                        linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                    padding: 1px;

                }
            }
        }

        .intro__image {
            z-index: 5;
            background: transparent;
            margin-top: 80px;

        }

        .intro__description__pos {
            display: none;
        }

        .intro__description,
        .intro__description__pos {
            width: 33%;
            background: transparent;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-end;

            >p {
                color: #E5DFDACC;
                font-family: var(--font-open-sans);
                text-align: right;
                width: 275px;
                font-size: 22px;
                font-weight: 300;
                line-height: 150%;
            }

            .scroll__particle {
                position: absolute;
                bottom: 20px;
                min-height: 200px;
                display: flex;
                align-items: center;
                flex-flow: column;


                >i {
                    height: 150px;
                    width: 1px;
                    margin-bottom: 40px;
                    background: linear-gradient(to bottom, #E6DFDA -19.44%, rgba(230, 223, 218, 0.8) 44.12%, rgba(230, 223, 218, 0) 117.57%);
                }

                >p {
                    color: #E5DFDA;
                    font-family: var(--font-cormorant);
                    font-size: 22px;
                }
            }
        }
    }

    .main__about {
        height: fit-content;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-top: 620px;
        border-bottom: 1px solid #E5DFDA33;
        padding-bottom: 60px;


        .main__text {
            width: fit-content;

            .navigator__wrap {
                width: 179px;
                margin-top: 300px;
            }


            >h2 {
                color: #fff;
                font-weight: 300;
                font-family: var(--font-cormorant);
                font-size: 63px;
                width: 583px;
            }

            >p {
                color: #E5DFDACC;
                font-size: 22px;
                font-weight: 300;
                line-height: 150%;
                width: 718px;
                text-indent: 50px;
                margin-top: 80px;
                font-family: var(--font-inter);
            }
        }

        .about__image {
            z-index: 5;
            position: absolute;
            top: -220px;
            right: 180px;

            transition: opacity 0.3s ease;

            &.active {
                opacity: 1;
            }
        }
    }

    .main__composition {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 800px;
        position: relative;
        margin-top: 300px;
        border-bottom: 1px solid #E5DFDA33;


        .composition__wrap {
            display: none;
        }

        .navigator__wrap {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .composition {
            min-width: 1000px;
            height: 700px;
            position: absolute;
            left: -20%;
            overflow: hidden;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }

        .compositionSVG {
            min-width: 1000px;
            height: 700px;
            position: absolute;
            left: -20%;
            overflow: hidden;

            position: relative;
        }

        .svgTriangle {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            height: 100%;
            z-index: 1;
        }

        .triangleBorder {
            transition: all 0.3s ease;

        }



        .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            cursor: pointer;
            height: 100%;

            z-index: 2;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }

        .content:hover~.svgTriangle .triangleBorder {
            stroke: #fff;
            stroke-width: 1.5;
        }

        .top {
            position: absolute;
            width: 100%;
            height: 33.33%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            flex-flow: column;
            padding-top: 90px;
            box-sizing: border-box;
            transition: all 0.3s ease;

            .description {
                width: 20%;
            }
        }

        .top:hover {
            border-bottom: 1px solid #fff;
        }

        .middle {
            position: absolute;
            height: 33.33%;
            width: 100%;
            top: 33.33%;
            left: 0;
            border-top: 1px solid #ffffff33;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            flex-flow: column;
            padding-top: 50px;
            transition: all 0.3s ease;
        }

        .middle:hover {
            border: 1px solid #fff;
            background-color: #ffffff0a;
        }

        .bottom {
            position: absolute;
            height: 33.34%;
            width: 100%;
            top: 66.66%;
            left: 0;
            border-top: 1px solid #ffffff33;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            flex-flow: column;
            padding-top: 30px;
            transition: all 0.3s ease;
        }

        .bottom:hover {
            border: 1px solid #fff;
            background-color: #ffffff0a;
        }

        .title {
            color: #fff;
            width: 100%;
            font-size: 32px;
            text-align: center;
            font-family: var(--font-cormorant);
            transition: all 0.3s ease;
        }

        .top:hover .title,
        .middle:hover .title,
        .bottom:hover .title {
            color: #ffffff;
            transform: scale(1.05);
        }

        .description {
            font-size: 22px;
            font-family: var(--font-inter);
            color: #E5DFDACC;
            width: 50%;
            line-height: 150%;
            font-weight: 300;
            text-align: center;
            margin-top: 20px;
            transition: all 0.3s ease;
        }

        .top:hover .description,
        .middle:hover .description,
        .bottom:hover .description {
            color: #ffffff;
        }

        >h2 {
            color: #fff;
            font-family: var(--font-cormorant);
            font-weight: 300;
            min-width: 30%;
            font-size: 69.33px;
            width: 590px;
        }

        >p {
            color: #E5DFDACC;
            align-self: center;
            font-family: var(--font-inter);
            font-weight: 300;
            font-size: 22px;
            line-height: 150%;
            text-align: right;
            max-width: 360px;
            right: 0;
            position: absolute;
        }
    }




    .main__form {
        width: 100%;
        height: 1100px;
        margin-top: 300px;
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;


        .designed__by,
        .copyright {
            color: #E5DFDACC;
            position: absolute;
            bottom: 50px;
            font-family: var(--font-cormorant);
            font-size: 39px;
        }

        .copyright {
            font-size: 22px;
            left: 20px;
            bottom: 20px;
        }

        .navigator__wrap {
            .page__navigator {
                bottom: 350px;
                left: 0px;
            }
        }

        .plug {
            width: 100%;
            height: 1px;
            background: #E5DFDA33;
            margin-top: 70px;
        }

        >h2 {
            color: #fff;
            font-family: var(--font-cormorant);
            font-size: 69.33px;
            font-weight: 300;
            text-align: center;
        }

        .form__wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 40px;

            .form__text {
                color: #E5DFDACC;
                font-family: var(--font-inter);
                width: 240px;
                font-size: 22px;
                line-height: 150%;
                font-weight: 300;

                &:last-child {
                    text-align: right;
                }
            }
        }

        .intro__info {
            background: transparent;
            color: #fff;
            position: absolute;
            margin-right: 60px;
            border-radius: 5px;
            width: 350px;
            display: flex;
            justify-content: flex-end;
            font-size: 22px;
            margin-top: 20px;
            padding: 20px;
            padding-right: 120px;
            bottom: 60px;
            left: -40px;
            cursor: pointer;
            z-index: 6;

            &::before {
                content: "";
                position: absolute;
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
                background: linear-gradient(90deg, rgba(229, 223, 218, 0) 18.66%, #E5DFDA 100%);
                border-radius: 5px;
                z-index: -1;
                cursor: pointer;
                mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask-composite: exclude;
                padding: 1px;

            }
        }
    }
}

@media(max-width: 1642px) {
    .main {
        .main__composition {
            flex-flow: column;
            height: fit-content;
            padding-bottom: 150px;
            justify-content: flex-start;
            margin-top: 100px;
            align-items: center;

            .navigator__wrap {
                position: static;
                width: 100%;
                left: 0;

                .page__navigator {
                    left: 0;
                    left: 42%;

                }
            }

            .compositionSVG {
                left: 0;
                margin-top: 20px;
            }

            >h2 {
                width: 100%;
                text-align: center;
            }

            >p {
                top: 150px;
            }
        }
    }
}

@media(max-width: 1583px) {
    .main {
        .main__intro {
            .intro__image {
                scale: 0.8;
                margin-top: 0px;
            }
        }
    }
}

@media(max-width: 1383px) {
    .main {
        .main__intro {
            .intro__left {
                display: flex;
                flex-flow: column;
                justify-content: center;

                .intro__description__pos {
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    padding-bottom: 20px;


                    >p {

                        padding: 0;
                        margin: 0;
                        font-size: 17px;
                        text-align: left;
                    }
                }

                .intro__title {
                    margin-bottom: 20px;
                }

                .intro__info {
                    margin: 0;
                    position: relative;
                    height: 50px;
                    margin-left: 70px;
                    width: 220px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 0;
                    bottom: 0;
                    padding: 0;
                }
            }

            .intro__description {
                display: none;
            }


        }
    }
}

@media(max-width: 1358px) {
    .main {
        .main__about {
            .main__text {
                >p {
                    font-size: 17px;
                    width: 50%;
                }
            }
        }

        .main__form {
            .navigator__wrap {
                position: absolute;
                display: flex;
                width: 100%;
                left: 0;
                margin-top: 20px;
                justify-content: center;

                .page__navigator {
                    position: static;
                    left: 0;
                }
            }
        }
    }
}

@media(max-width: 1175px) {
    .main {

        .main__composition {
            .navigator__wrap {
                position: absolute;
                display: flex;
                justify-content: center;

                .page__navigator {
                    position: static;
                }
            }

            >h2 {
                font-size: 40px;
            }

            >p {
                font-size: 18px;
                position: static;
                min-width: 100%;
                text-align: center;
                margin-top: 30px;
                padding-left: 20px;
                padding-right: 20px;
            }

            .compositionSVG {
                display: none;

            }

            .composition__wrap {
                width: 100%;
                margin-top: 40px;
                padding-left: 20px;
                padding-right: 20px;
                display: flex;
                flex-flow: column;
                align-items: center;

                .rect {
                    width: 40%;
                    height: 100px;
                    padding: 10px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #ffffff33;

                    .title {
                        font-size: 22px;
                        color: #fff;
                    }

                    .description {
                        color: #E5DFDACC;
                        font-size: 14px;
                        margin-top: 5px;
                        width: 100%;
                    }

                    &:first-child {
                        border-bottom: 0;
                    }

                    &:nth-child(2) {
                        width: 60%;
                        border-bottom: 0;
                    }

                    &:nth-child(3) {
                        width: 80%;

                    }
                }
            }
        }
    }
}

@media(max-width: 974px) {
    .main__bg {
        height: 1200px;

    }

    .main__lines {
        height: 4100px;
    }

    .main {
        .main__about {
            .main__text {
                >h2 {
                    font-size: 45px;
                    width: 50%;
                }
            }
        }

        .main__intro {
            .intro__image {
                scale: 0.6;
                margin-top: -170px;
                margin-left: -100px;
            }
        }

        .main__form {
            .form__wrap {
                .form__text {
                    display: none;
                }
            }
        }

        .main__about {
            margin-top: 200px;
        }
    }
}

@media(max-width: 768px) {
    .main__lines {
        height: 3614px !important;
    }

    .main__bg {
        height: 1300px;
        background-position: 45%;
    }

    .composition__bg {
        height: 800px;
        margin-top: 1700px;
    }


    .main {
        .page__navigator {
            display: flex;
            flex-flow: column;
            right: 20px;

            >span {
                font-size: 14px;
            }

            >i {
                transform: rotate(90deg);
            }
        }

        .main__composition {
            .navigator__wrap {
                display: flex;
                justify-content: flex-end;

                .page__navigator {
                    margin-right: 20px
                }
            }
        }

        .main__about {
            margin-top: 270px !important;


            .navigator__wrap {
                justify-content: flex-end;
                width: 100%;
                display: flex;




            }


            .main__text {
                width: 100%;

                .navigator__wrap {
                    position: static;
                    margin-top: 100px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }

                >p {
                    width: 80%;
                    font-size: 13px;
                }

                >h2 {
                    width: 80%;
                    font-size: 30px;
                }
            }
        }

        .main__intro {
            flex-flow: column;
            align-items: center;
            padding-right: 0;

            .page__navigator {
                bottom: -600px !important;
            }

            .intro__image {
                margin-top: -280px;
                scale: 0.5;

                transform: scaleX(0.74) rotate(10deg);
                margin-left: 0;
                margin-right: 0;
            }


            .intro__left {
                width: 100%;
                display: flex;
                flex-flow: column;
                align-items: center;
                padding-top: 80px;

                .intro__title {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    text-align: center;

                    font-size: 150px;
                }

                .page__navigator {
                    bottom: -700px;
                }

                .intro__info {
                    display: none;
                }



                .intro__description__pos {
                    position: absolute;
                    width: 150px;
                    margin: 0;
                    padding: 0;
                    left: 0;
                    right: 0;

                    top: 270px;


                    >p {
                        font-size: 13px;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }



        .main__form {

            .designed__by {
                font-size: 22px;
                bottom: 180px;
            }

            .copyright {
                font-size: 14px;
            }

            .intro__info {
                bottom: 0;
                left: 0;
            }

            .navigator__wrap {
                display: flex;
                justify-content: flex-end;

                display: none;

                .page__navigator {
                    margin-right: 40px;
                }
            }
        }
    }

    .bg__footer {
        height: 1200px;
        background-size: cover;
    }
}

@media(max-width: 615px) {
    .main {
        .main__composition {
            >h2 {
                color: #E5DFDA;
            }

            .navigator__wrap {
                margin-bottom: 20px;
            }

            .composition__wrap {
                .rect {
                    .title {
                        font-size: 19px;
                    }

                    .description {
                        font-size: 12px;
                    }
                }
            }

            >p {
                font-size: 12px;
            }
        }

        .main__form {
            margin-top: 100px;
            display: flex;
            flex-flow: column;
            align-items: center !important;


            >h2 {
                font-size: 40px;
                color: #E5DFDACC;
            }

            .navigator__wrap {
                bottom: 200;
            }

            .intro__info {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 250px;
                height: 50px;
                left: 0;
                right: 0;
                position: relative;
            }
        }
    }
}

@media(max-width: 430px) {
    .main__lines {
        height: 3800px;
    }

    .main {


        .main__form {


            .intro__info {
                margin-top: 70px;
            }

            .plug {
                position: absolute;
                bottom: 140;

            }

        }

        .main__composition {


            .composition__wrap {
                .rect {

                    &:first-child {
                        width: 60%;
                    }

                    &:nth-child(2) {
                        width: 80%;
                    }

                    &:nth-child(3) {
                        width: 100%;
                    }
                }
            }


        }
    }
}

@media(max-width: 374px) {
    .main {
        .main__intro {
            .intro__image {
                scale: 0.54;
            }
        }
    }
}