* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

*::-webkit-scrollbar {
  width: 0;
}

body {
  height: 100%;
  display: flex;
  background: #000;
  overflow-x: hidden;
  flex-flow: column;
  position: relative;
  align-items: center;
}